<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

    <select id="loginCheck" parameterType="memberDto" resultType="memberDTO">
        SELECT *
        FROM MEMBER
        WHERE MEM_ID = #{mem_id, jdbcType = VARCHAR}
        AND MEM_PASSWORD = #{mem_password, jdbcType = VARCHAR}
    </select>

    <insert id = "join" parameterType="memberDTO">
        <selectKey keyProperty="mem_num" resultType="int" order="BEFORE">
            select TMP_SEQ.nextval from DUAL
        </selectKey>
        insert into member
        values(#{mem_num}, #{mem_id, jdbcType = VARCHAR},
               #{mem_password, jdbcType = VARCHAR}, #{mem_username, jdbcType = VARCHAR},
               #{mem_phone, jdbcType = VARCHAR}, #{mem_birth_year, jdbcType = VARCHAR},
               #{mem_birth_month, jdbcType = NUMERIC},#{mem_birth_day, jdbcType = NUMERIC},
               #{mem_sex, jdbcType = VARCHAR}, #{mem_address, jdbcType = VARCHAR},
               #{mem_email, jdbcType = VARCHAR}, sysdate, #{mem_is_admin, jdbcType = VARCHAR})
    </insert>

    <select id="idCheck" resultType="com.healingpill.dto.MemberDTO">
        select MEM_ID from MEMBER
        where MEM_ID = #{mem_id, jdbcType = VARCHAR}
    </select>

    <!-- 아이디 중복 체크 -->
    <select id="idChk" resultType="int">
        SELECT COUNT(*) FROM MEMBER
        WHERE MEM_ID  = #{mem_id}
    </select>

    <select id="findId" resultType="com.healingpill.dto.MemberDTO">
        select * from MEMBER
        where MEM_PHONE = #{mem_phone, jdbcType = VARCHAR}
        and MEM_USERNAME = #{mem_username, jdbcType = VARCHAR}
    </select>

    <select id="findIdCheck" resultType="int">
        select count(*) from MEMBER where MEM_PHONE = #{mem_phone, jdbcType = VARCHAR}
    </select>

    <select id="findPassword" resultType="com.healingpill.dto.MemberDTO">
        select * from MEMBER
        where MEM_ID = #{mem_id, jdbcType = VARCHAR}
        and MEM_PHONE = #{mem_phone, jdbcType = VARCHAR}
    </select>

    <select id="findPasswordCheck" resultType="int">
        select count(*) from MEMBER where MEM_PHONE = #{mem_phone, jdbcType = VARCHAR}
    </select>

    <!-- mypage 회원 수정 mapper -->
    <update id="myPageModify">
        update MEMBER set MEM_PASSWORD = #{mem_password, jdbcType = VARCHAR},
                          MEM_PHONE = #{mem_phone, jdbcType = VARCHAR},
                          MEM_ADDRESS = #{mem_address, jdbcType = VARCHAR},
                          MEM_EMAIL = #{mem_email, jdbcType = VARCHAR}
        where MEM_NUM = #{mem_num}
    </update>

    <!-- mypage 회원 수정 페이지 -->
    <select id="myPageModifyView" parameterType="int" resultType="com.healingpill.dto.MemberDTO">
        select * from MEMBER where MEM_NUM = #{mem_num}
    </select>

    <!-- mypage 회원 탈퇴 -->
    <delete id="memberDelete" parameterType="int">
        DELETE MEMBER WHERE MEM_NUM = #{mem_num, jdbcType = NUMERIC}
    </delete>

    <!-- mypage 주문 내역 -->
    <select id="myPageOrder">
        select A.MEM_NUM, B.* from member A, order_request B  WHERE  A.MEM_ID = B.MEM_ID and A.MEM_NUM = #{mem_num};
    </select>
</mapper>
