<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace = "com.healingpill.mapper.MemberMapper">
    insert into member values(#{mem_no}, #{mem_id}, #{mem_id}, #{mem_password}, #{mem_name}, #{mem_phone}, #{mem_birth_year}, #{mem_birth_month}, #{mem_birth_day}, #{mem_address}, #{mem_email}, #{mem_sex}, mem_register_date, #{mem_is_admin}
</mapper>