<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">

    <!-- 주문자 정보 -->
    <insert id="orderRequest" parameterType="com.healingpill.dto.OrderPageDTO">
        insert into ORDER_REQUEST values (ORDER_SEQ.nextval, #{order_name, jdbcType = VARCHAR}, #{mem_id, jdbcType = VARCHAR}, #{mem_address1, jdbcType = VARCHAR},
                                          #{mem_address2, jdbcType = VARCHAR}, #{mem_address3, jdbcType = VARCHAR}, #{order_state, jdbcType = VARCHAR}, #{deliveryCost, jdbcType = NUMERIC},
                                          #{usePoint, jdbcType = NUMERIC}, sysdate)
    </insert>
    
    <!-- 단일 상품 주문 정보 -->
    <insert id="singleProductOrder" parameterType="com.healingpill.dto.OrderPageItemDTO">
        insert into ORDER_ITEM values (ORDER_PRODUCT_SEQ.nextval, #{order_id, jdbcType = NUMERIC}, #{pd_num, jdbcType = NUMERIC},
                                       #{order_stock, jdbcType = NUMERIC}, #{order_price, jdbcType = NUMERIC}, #{order_discount, jdbcType = NUMERIC}, #{savepoint, jdbcType = NUMERIC})
    </insert>
</mapper>