<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">

    <!-- 상품 리스트 -->
    <select id="list" resultType="com.healingpill.dto.ProductViewVO">
        select p.PD_NUM, p.PD_NAME, p.CTG_CODE, pc.CTG_CODEREF, pc.CTG_NAME,
               PD_PRICE, PD_STOCK, PD_CONTENT, PD_MAINIMAGE, PD_REGISTER_DATETIME, p.PD_MAINIMAGE, p.PD_SUBIMAGE
            from PRODUCT p
                inner join PRODUCT_CATEGORY PC on p.CTG_CODE = PC.CTG_CODE
                where p.CTG_CODE = #{ctg_code, jdbcType = VARCHAR}
    </select>

    <!-- 장바구니 추가 -->
    <insert id="addCart">
        insert into CART(CART_ID, MEM_ID, PD_NUM, CART_STOCK)
        values (CART_SEQ.nextval, #{mem_id, jdbcType = VARCHAR}, #{pd_num, jdbcType = NUMERIC}, #{cart_stock, jdbcType = NUMERIC})
    </insert>

    <!-- 장바구니 삭제 -->
    <delete id="deleteCart">
        delete CART
        where CART_ID = #{cart_id, jdbcType = NUMERIC} and MEM_ID = #{mem_id, jdbcType = VARCHAR}
    </delete>

    <!-- 장바구니 수량 수정 -->
    <update id="modifyCount">
        update CART set CART_STOCK = #{cart_stock, jdbcType = NUMERIC} where CART_ID = #{cart_id, jdbcType = NUMERIC}
    </update>

    <!-- 장바구니 목록 불러오기 -->
    <select id="getCartList" resultType="com.healingpill.dto.CartListVO">
        select row_number() over (order by c.CART_ID desc) as num, c.CART_ID, c.MEM_ID, c.PD_NUM, c.CART_STOCK, c.CART_REGISTER_DATETIME,
               p.PD_NAME, p.PD_PRICE, p.PD_SUBIMAGE, p.CTG_CODE, pc.CTG_NAME
        from CART c
                 inner join PRODUCT p on c.PD_NUM = p.PD_NUM
                 inner join PRODUCT_CATEGORY pc on p.CTG_CODE = pc.CTG_CODE
        where c.MEM_ID = #{mem_id, jdbcType = VARCHAR}
    </select>


    <!-- 장바구니 확인 -->
    <select id="checkCart" resultType="com.healingpill.dto.CartVO">
        select * from CART
        where MEM_ID = #{mem_id, jdbcType = VARCHAR} and PD_NUM = #{pd_num, jdbcType = NUMERIC}
    </select>
</mapper>