@charset "utf-8";

/** Style **/
html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, form, fieldset, legend, address, figure, hr, object, iframe, img, button, input, select, textarea, label, a, span, em, strong, small, sub, sup, table, caption, thead, tbody, tfoot, tr, th, td {padding:0; margin:0; outline:0; box-sizing: border-box;}
html {line-height:1.2; -ms-text-size-adjust:100%; -moz-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
html, body {-webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */-ms-text-size-adjust : none;  /* IE */-moz-text-size-adjust : none;  /* 파이어폭스 */-o-text-size-adjust : none;  /* 오페라 구버전 */}
html, button, input, select, textarea {font-family:'Pretendard', 'NotoSansKR','고딕', Arial, AppleGothic, sans-serif; font-weight:300; font-size:10px; color:#222222; font-style: normal; }
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:100%; line-height:1.2;}
b, strong {font-weight:700;}
i, em, dfn, address {font-style:normal;}
a {background-color:transparent; color:inherit; text-decoration:none; text-align: center; }
a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none; outline:0;}
ul, ol, dl {list-style:none;}
img, video {max-width:100%; border:0 none; vertical-align:top;}
legend, caption {overflow:hidden; position:absolute; width:1px; height:1px; padding:0; border:0; margin:-1px; clip:rect(0 0 0 0);}
hr {display:none; height:0;}
::-moz-selection {background:transparent; text-shadow:none;}
::selection {background:transparent; text-shadow:none;}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; -webkit-transition: background-color 9999s ease-out; -webkit-box-shadow: 0 0 0px 1000px white inset !important; }

input.valid:-webkit-autofill,
input:-webkit-autofill:valid { transition: background-color 5000s ease-in-out 0s; -webkit-transition: background-color 9999s ease-out; -webkit-box-shadow: 0 0 0px 1000px #eff0f6 inset !important; }
input:-webkit-autofill:focus { transition: background-color 5000s ease-in-out 0s; -webkit-transition: background-color 9999s ease-out; -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important; }

/** HTML5 **/
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display:block; box-sizing:border-box;}
canvas, audio, video {display:inline-block; vertical-align:top; *display:inline; *zoom:1;}
audio:not([controls]) {display:none; height:0;}
[hidden], template {display:none;}

/** Form **/
fieldset {border:0;}
button {overflow:visible; border:0; background-color:transparent; vertical-align:top; line-height:normal; text-transform:none; cursor:pointer; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
html input[type=button], input[type=reset], input[type=submit], input[type=image] {cursor:pointer; -webkit-appearance:button;}
input {vertical-align:top; line-height:normal; border:0;}
input[type=checkbox], input[type=radio] {box-sizing:border-box; padding:0;}
input[type=search] {-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {-webkit-appearance:none;}
input[type=search]::-ms-clear, input[type=search]:-ms-clear, input[type=text]::-ms-clear, input[type=text]:-ms-clear {display:none;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0; border:0;}
button[disabled], html input[disabled] {cursor:default;}
select {vertical-align:top; line-height:normal; text-transform:none; border:1px solid #707070;}
select::-ms-expand {display: none;}
textarea {overflow:auto; vertical-align:top; resize:none; border:1px solid #707070;}
label {vertical-align:top; cursor:pointer;}
input[type=submit] {border:1px solid transparent;}
/* mobile */
button, select, textarea,
input[type=text], input[type=password], input[type=button], input[type=reset], input[type=submit], input[type=image], input[type=tel] {-moz-border-radius:0; -webkit-border-radius:0; border-radius:0; -moz-appearance:none; -webkit-appearance:none; appearance:none;}

/** Table **/
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed; empty-cells:show;}
td, th {padding:0;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number], input[type=date], input[type=time] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}