<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

<!--    <mybatis-spring:scan base-package="com.healingpill.mapper"/>
-->
    <!-- Oracle dataSource -->
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
        <property value="oracle.jdbc.driver.OracleDriver" name="driverClassName" />
        <property value="jdbc:oracle:thin:@localhost:1521:xe" name="url" />
        <!-- 오라클 사용자 이름 -->
        <property value="healingpill" name="username" />
        <!-- 오라클 사용자 비밀번호 -->
        <property value="healingpill" name="password" />
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:/com.healingpill.mapper/*Mapper.xml"/>
    </bean>


    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg index="0" ref="sqlSession"/>
    </bean>

    <!-- 업로드 관련 빈 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver"></bean>

    <!-- scan -->
    <context:component-scan base-package="com.healingpill.service"></context:component-scan>
    <context:component-scan base-package="com.healingpill.dao"></context:component-scan>
    <context:component-scan base-package="com.healingpill.dto"></context:component-scan>
</beans>